extends layout

block content
  script.
    alert("Clique na direita para postar, esquerda para tela cheia!")
  #navbar
    a(id="title" onclick="fullscreen()")
      h1= title
    a(href="#modalsubmit" id="logo")
      img(src="/images/logo.png")
  #mapid
  include postform.pug
  footer Made with daw, by Asantos07
