doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/leaflet.js')    
    script(src="/javascripts/socket.io.js")
  body
    block content
    script.
      var socket = io();
    script(src="/javascripts/mapapp.js")
    script(src="/javascripts/conservice.js")

